<!DOCTYPE html>
<html>
<head>
	<title>Learning Bootstrap Home</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
</head>


<body>


<div class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" href="../index.html">
			<span class="glyphicon glyphicon-home"></span> LFC BLOG
		</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#coll" >
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="coll">
			<ul class="nav navbar-nav">
				<li><a href="../index.html">Home</a></li>
				<li  class="active"><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		         <ul class="dropdown-menu">
		            <li><a href="#">Action 1</a></li>
		            <li><a href="#">Action 2</a></li>
		            <li><a href="#">Action 3</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Action 4</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Action 5</a></li>
		          </ul>
	        </li>
			</ul>
		</div>
	</div>	
</div>

<div class="container">
<div class="row">
	
	<div class="col-md-8 col-md-push-3">
	<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-9">
				<img src="../image/2.jpg" class="img-responsive" >
			</div>
			<div class="col-md-3">
				<h4><span class="glyphicon glyphicon-eye-open" style="color: blue;"></span> 300</h4>
				<h4><span class="glyphicon glyphicon-thumbs-up" style="color: blue;"></span> 200</h4>
			</div>
		</div>
		<h3>Lorem ipsum dolor sit amet <br><small>(This is Secondary Text. We can include date here)</small></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<p class="lead">tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p> Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<table class="table table-hover">
			<tr>
			<th> cell 1</th>
			<th> cell 2</th>
			<th> cell 3</th>
			<th> cell 4</th>
			<th> cell 5</th>
			<th> cell 6</th>
			</tr>
			<tr>
			<td> cell 7</td>
			<td> cell 8</td>
			<td> cell 9</td>
			<td> cell 10</td>
			<td> cell 11</td>
			<td> cell 12</td>		
			</tr>
			<tr>
			<td> cell 13</td>
			<td> cell 14</td>
			<td> cell 15</td>
			<td> cell 16</td>
			<td> cell 17</td>
			<td> cell 18</td>		
			</tr>
			</tr>
			<tr>
			<td> cell 19</td>
			<td> cell 20</td>
			<td> cell 21</td>
			<td> cell 22</td>
			<td> cell 23</td>
			<td> cell 24</td>		
			</tr>
			</tr>
			<tr>
			<td> cell 25</td>
			<td> cell 26</td>
			<td> cell 27</td>
			<td> cell 28</td>
			<td> cell 29</td>
			<td> cell 30</td>		
			</tr>
			</tr>
			<tr>
			<td> cell 31</td>
			<td> cell 32</td>
			<td> cell 33</td>
			<td> cell 34</td>
			<td> cell 35</td>
			<td> cell 36</td>		
			</tr>
		</table>
	</div></div>
	</div>
	

	<div class="col-md-3 col-md-pull-8">
	<div class="panel panel-default">
	<div class="panel-body">
	<h3>Go to links</h3>
		<ul>
			<a href=""><li>Link 1</li></a>
			<a href=""><li>Link 2</li></a>
			<a href=""><li>Link 3</li></a>
			<a href=""><li>Link 4</li></a>
			<a href=""><li>Link 5</li></a>
			<a href=""><li>Link 6</li></a>
		</ul>
	</div></div></div>
</div>
</div>



<!-- Footer-->

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h4>Contact Address</h4>
				<address>
					#310, kalanki,<br>
					Kathmandu,<br>
					Nepal
				</address>
			</div>
			<div class="col-md-5 col-md-offset-2">
				<h4>Give Us a Call</h4>
				<p><span class="glyphicon glyphicon-phone-alt" style="color: red; font-size: 30px"> </span><span style="font-size: 20px"> +977-01-444444</p>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="col-md-5">&copy; Ravi Tiwari,2014</div>
			<div class="col-md-7">
				<ul class="footer-nav">
					<li><a href="../index.html">Home</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="../index.html">Link</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>